/* copied and edited from https://www.geeksforgeeks.org/build-a-drag-drop-kanban-board-using-html-css-javascript/ */
body {
    font-family: "Inter", sans-serif;
    background-color: #e4e4e4;
    margin: 0;
    padding: 0;
}

input {
    font-family: "Inter", sans-serif;
}

.head {
    background-color: #ffcad4;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.head img {
    width: 150px;
}

.head h1 {
    font-size: 28px;
    margin: 0;
    position: relative;
    left: -10px;
}

.head div {
    min-width: 100%;
    position: relative;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.head h3 {
    width: 100%;
    text-align:center;
    margin:0;
    cursor:pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.head ol { 
    list-style-type: none;
}

#num-of-groups {
    margin: 0 20px;
    width: 2em;
}

#parts {
    margin: 0 20px;
    width: 10em;
}

#data-file {
    width: 400px;
}

#upload {
    width: 200px;
    font-size: 18px;
    margin: 10px 30% 10px;
}

#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}

.group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 400px;
    margin: 2px;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.group h2 {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    color: #333;
}

.group hr {
    width: 100%;
    margin: 3px 0;
}

.group input {
    font-size: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    height: 1.2em;
    font-size: 12px;
    border: 1px solid #ddd;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.regular-available {
    background-color: #008080;
    color: #ffffff;
}

.guitar-available {
    background-color: #73628a;
    color: #ffffff;
}

.none-available {
    background-color: #e04a2c;
    color: #ffffff;
}

tbody tr {
    cursor: grab;
}

#summary {
    margin-top: 10px;
}

#summary tr {
    cursor: auto;
}

#summary td {
    font-size: 10px;
}

.sum-num {
    font-family: monospace;
    font-size: 18px;
}

tbody tr:hover {
    background-color: #999999;
}

.group-title {
    font-weight: bold;
    font-size: 20px;
}

.dragged {
    background-color: #999999;
}

.dragged-border {
    border: 2px solid rgb(147 197 253);
    border-width: 2px 0 0 0;
}

.dragged-border-bottom {
    border: 2px solid rgb(147 197 253);
    border-width: 0 0 2px 0;
}